In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("C:/Users/Home/Downloads/archive/diabetes.csv")

In [3]:
df.info

<bound method DataFrame.info of      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]>

In [4]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
y= df['Outcome']
X = df[["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction","Age"]]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [7]:
X_train_n= X_train.copy()

In [8]:
X_test_n= X_test.copy()

In [9]:
norm = MinMaxScaler().fit(X_train_n)
x_train_norm = norm.transform(X_train_n)
x_test_norm = norm.transform(X_test_n)

In [10]:
x_train_norm_df = pd.DataFrame(x_train_norm)
x_test_norm_df = pd.DataFrame(x_test_norm)

In [11]:
x_train_norm_df.columns = X_train_n.columns

In [12]:
x_train_norm_df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,0.222265,0.606477,0.567883,0.201971,0.094774,0.474944,0.168652,0.207383
std,0.197180,0.165109,0.160089,0.162760,0.142210,0.117317,0.147342,0.199938
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.058824,0.497487,0.524590,0.000000,0.000000,0.407228,0.068201,0.050000
50%,0.176471,0.582915,0.590164,0.222222,0.027187,0.476900,0.122056,0.133333
75%,0.352941,0.712312,0.655738,0.323232,0.143617,0.543964,0.232762,0.333333
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
x_train_norm_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0.176471,0.884422,0.704918,0.272727,0.184397,0.496274,0.457816,0.516667
1,0.058824,0.457286,0.524590,0.242424,0.000000,0.435171,0.045824,0.000000
2,0.705882,0.442211,0.606557,0.404040,0.063830,0.526080,0.125482,0.450000
3,0.000000,0.628141,0.557377,0.000000,0.000000,0.368107,0.051820,0.000000
4,0.117647,0.643216,0.524590,0.424242,0.000000,0.596125,0.435118,0.050000
...,...,...,...,...,...,...,...,...
609,0.117647,0.427136,0.532787,0.000000,0.000000,0.590164,0.361884,0.100000
610,0.058824,0.356784,0.393443,0.181818,0.089835,0.304024,0.101927,0.016667
611,0.294118,0.427136,0.606557,0.222222,0.000000,0.432191,0.487794,0.183333
612,0.058824,0.437186,0.491803,0.373737,0.088652,0.554396,0.181585,0.016667
613,0.470588,0.984925,0.622951,0.292929,0.330969,0.558867,0.222698,0.600000

In [14]:
x_test_norm_df

,0,1,2,3,4,5,6,7
0,0.000000,0.572864,0.655738,0.343434,0.336879,0.658718,0.035118,0.100000
1,0.352941,0.979899,0.573770,0.000000,0.000000,0.460507,0.104069,0.166667
2,0.764706,0.728643,0.672131,0.191919,0.130024,0.330849,0.068522,0.600000
3,0.294118,0.582915,0.606557,0.292929,0.000000,0.481371,0.246253,0.233333
4,0.882353,0.683417,0.573770,0.323232,0.130024,0.552906,0.029122,0.366667
...,...,...,...,...,...,...,...,...
149,0.411765,0.532663,0.491803,0.242424,0.000000,0.394933,0.090364,0.133333
150,0.117647,0.577889,0.524590,0.222222,0.000000,0.459016,0.143897,0.000000
151,0.235294,0.758794,0.737705,0.383838,0.000000,0.442623,0.089507,0.250000
152,0.058824,0.462312,0.508197,0.252525,0.048463,0.290611,0.170021,0.066667
153,0.000000,0.658291,0.540984,0.404040,0.000000,0.511177,0.047537,0.016667

In [15]:
x_test_norm_df

,0,1,2,3,4,5,6,7
0,0.000000,0.572864,0.655738,0.343434,0.336879,0.658718,0.035118,0.100000
1,0.352941,0.979899,0.573770,0.000000,0.000000,0.460507,0.104069,0.166667
2,0.764706,0.728643,0.672131,0.191919,0.130024,0.330849,0.068522,0.600000
3,0.294118,0.582915,0.606557,0.292929,0.000000,0.481371,0.246253,0.233333
4,0.882353,0.683417,0.573770,0.323232,0.130024,0.552906,0.029122,0.366667
...,...,...,...,...,...,...,...,...
149,0.411765,0.532663,0.491803,0.242424,0.000000,0.394933,0.090364,0.133333
150,0.117647,0.577889,0.524590,0.222222,0.000000,0.459016,0.143897,0.000000
151,0.235294,0.758794,0.737705,0.383838,0.000000,0.442623,0.089507,0.250000
152,0.058824,0.462312,0.508197,0.252525,0.048463,0.290611,0.170021,0.066667
153,0.000000,0.658291,0.540984,0.404040,0.000000,0.511177,0.047537,0.016667

In [32]:
X_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
588,3,176,86,27,156,33.3,1.154,52
240,1,91,64,24,0,29.2,0.192,21
358,12,88,74,40,54,35.3,0.378,48
626,0,125,68,0,0,24.7,0.206,21
267,2,128,64,42,0,40.0,1.101,24
...,...,...,...,...,...,...,...,...
104,2,85,65,0,0,39.6,0.930,27
97,1,71,48,18,76,20.4,0.323,22
218,5,85,74,22,0,29.0,1.224,32
377,1,87,60,37,75,37.2,0.509,22
206,8,196,76,29,280,37.5,0.605,57

In [34]:
y_train

588    1
240    0
358    0
626    0
267    0
      ..
104    0
97     0
218    1
377    0
206    1
Name: Outcome, Length: 614, dtype: int64

In [36]:
x_train_norm_df.to_csv('train_norm.csv')

In [38]:
x_train_norm_df.to_csv('train_norm.csv', index=False)

In [40]:
X_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
162,0,114,80,34,285,44.2,0.167,27
675,6,195,70,0,0,30.9,0.328,31
28,13,145,82,19,110,22.2,0.245,57
386,5,116,74,29,0,32.3,0.660,35
88,15,136,70,32,110,37.1,0.153,43
...,...,...,...,...,...,...,...,...
276,7,106,60,24,0,26.5,0.296,29
423,2,115,64,22,0,30.8,0.421,21
160,4,151,90,38,0,29.7,0.294,36
607,1,92,62,25,41,19.5,0.482,25
397,0,131,66,40,0,34.3,0.196,22

In [42]:
X_test_norm

NameError: name 'X_test_norm' is not defined

In [44]:
x_test_norm

array([[0.        , 0.57286432, 0.6557377 , ..., 0.65871833, 0.03511777,
        0.1       ],
       [0.35294118, 0.9798995 , 0.57377049, ..., 0.46050671, 0.10406852,
        0.16666667],
       [0.76470588, 0.72864322, 0.67213115, ..., 0.33084948, 0.06852248,
        0.6       ],
       ...,
       [0.23529412, 0.75879397, 0.73770492, ..., 0.44262295, 0.08950749,
        0.25      ],
       [0.05882353, 0.46231156, 0.50819672, ..., 0.29061103, 0.17002141,
        0.06666667],
       [0.        , 0.65829146, 0.54098361, ..., 0.51117735, 0.04753747,
        0.01666667]])

In [46]:
x_test_norm_df

,0,1,2,3,4,5,6,7
0,0.000000,0.572864,0.655738,0.343434,0.336879,0.658718,0.035118,0.100000
1,0.352941,0.979899,0.573770,0.000000,0.000000,0.460507,0.104069,0.166667
2,0.764706,0.728643,0.672131,0.191919,0.130024,0.330849,0.068522,0.600000
3,0.294118,0.582915,0.606557,0.292929,0.000000,0.481371,0.246253,0.233333
4,0.882353,0.683417,0.573770,0.323232,0.130024,0.552906,0.029122,0.366667
...,...,...,...,...,...,...,...,...
149,0.411765,0.532663,0.491803,0.242424,0.000000,0.394933,0.090364,0.133333
150,0.117647,0.577889,0.524590,0.222222,0.000000,0.459016,0.143897,0.000000
151,0.235294,0.758794,0.737705,0.383838,0.000000,0.442623,0.089507,0.250000
152,0.058824,0.462312,0.508197,0.252525,0.048463,0.290611,0.170021,0.066667
153,0.000000,0.658291,0.540984,0.404040,0.000000,0.511177,0.047537,0.016667

In [48]:
x_train_norm

array([[0.17647059, 0.88442211, 0.70491803, ..., 0.49627422, 0.45781585,
        0.51666667],
       [0.05882353, 0.45728643, 0.52459016, ..., 0.43517139, 0.04582441,
        0.        ],
       [0.70588235, 0.44221106, 0.60655738, ..., 0.52608048, 0.1254818 ,
        0.45      ],
       ...,
       [0.29411765, 0.42713568, 0.60655738, ..., 0.43219076, 0.48779443,
        0.18333333],
       [0.05882353, 0.43718593, 0.49180328, ..., 0.55439642, 0.18158458,
        0.01666667],
       [0.47058824, 0.98492462, 0.62295082, ..., 0.55886736, 0.22269807,
        0.6       ]])

In [50]:
x_test_norm_df.to_csv('test_norm.csv')

In [52]:
x_test_norm_df.to_csv('test_norm.csv', index=False)